.filter-container {
  padding: 1rem;
  background: darkgray;
  border-radius: 5px;
  color: black;
}

form {
  color: black;
  background: darkgray;
}

.input-container {
  display: flex;
  gap: 2rem;

  input {
    background: lightgray;
    color: black;
  }
}
