.grid-container {
  display: grid;
  color: black;
  grid-template-columns: 1fr 3fr;
  background: lightgray;
  padding: 2rem;
  border-radius: 5px;
  gap: 0.5rem;

  div {
    border-bottom: 1px solid darkgray;
  }
}

button {
  border-radius: 5px;
}
