<ul *ngIf="movies.length > 0; else noMovies" class="movie-list">
  <li *ngFor="let movie of movies">
    <div class="list-layout">
      <div class="movie-container">
        <div class="movie-title">{{ movie.title }}</div>
        <div class="movie-details">
          <span>Release date: {{ movie.release_date | date: DATE_FORMAT }}</span
          ><span>Budget: {{ movie.budget | dollarAmount }}</span
          ><span>Duration: {{ movie.duration | minutesToHours }}</span>
        </div>
      </div>
      <button [id]="movie.id" [routerLink]="movie.id">Details</button>
    </div>
  </li>
</ul>
<ng-template #noMovies>No movies found...</ng-template>
