.movie-list {
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem 2rem 2rem;
  background: lightgray;
  border-radius: 5px;
  color: black;

  li {
    margin-top: 2rem;
    list-style-type: none;
  }
}

.list-layout {
  display: flex;
  justify-content: space-between;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie-title {
  font-size: 20px;
}

.movie-details {
  display: flex;
  gap: 2rem;
  font-weight: lighter;
}

button {
  border-radius: 5px;
}
