.movie-list {
  width: 50%;
  margin: 0 auto;
}

.list-layout {
  display: flex;
  justify-content: space-between;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie-title {
  font-size: 20px;
}

.movie-details {
  display: flex;
  gap: 2rem;
  font-weight: lighter;
}
